######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

.flattened-pom.xml

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp
*.tar

# Node.js
node_modules/

!*/build/*.java
!*/build/*.html
!*/build/*.xml

# 允许所有前端文件
!*.html
!*.css
!*.js
!*.vue
!*.ts
!*.jsx
!*.tsx

# 允许静态资源
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.svg
!*.ico
!*.woff
!*.woff2
!*.ttf
!*.eot

### JRebel ###
rebel.xml

application-my.yaml

/yudao-ui-app/unpackage/
