<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smalldragon.yml.system.mapper.role.RoleMapper">

    <delete id="deleteByIds">
        DELETE FROM sys_role
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND role_number != 'admin'
    </delete>

    <select id="getRolesByUserId" resultType="com.smalldragon.yml.system.dal.role.DTO.DeptRoleDTO">
        SELECT role_number,dept_level FROM sys_role WHERE id IN ( select role_id from sys_user_role where user_id = #{userId})
    </select>

    <select id="getRoleResourceList" resultMap="RoleResourceVOMap">
        SELECT
            r.role_number,
            GROUP_CONCAT(DISTINCT CASE WHEN res.type = 'menu' THEN res.path END) AS menu_paths,
            GROUP_CONCAT(DISTINCT CASE WHEN res.type = 'function' THEN res.path END) AS function_paths
        FROM sys_role r
            LEFT JOIN sys_role_resource rr ON r.id = rr.role_id
            LEFT JOIN sys_resource res ON rr.resource_id = res.id
        GROUP BY r.id
    </select>

    <resultMap id="RoleResourceVOMap" type="com.smalldragon.yml.system.dal.role.VO.RoleResourceVO">
        <result property="roleNumber" column="role_number"/>
        <association property="resourceData" javaType="com.smalldragon.yml.system.dal.resource.VO.ResourceVO">
            <result property="menuStr" column="menu_paths" />
            <result property="functionStr" column="function_paths"/>
        </association>
    </resultMap>

</mapper>
