server:
  port: 8080 # 设置项目端口号为8080，可以根据需要修改

spring:
  application:
    name: yml-server
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://123.207.11.78:30306/single-system?useSSL=false&serverTimezone=UTC
    url: jdbc:mysql://localhost:3306/blbb_datasource?useSSL=false&serverTimezone=UTC
    username: root
    password: root123456
    hikari:
      pool-name: smallDragonDatasource
      connection-timeout: 30000 # 30妙
      max-lifetime: 1800000 #  30分钟 (防止连接老化)
      idle-timeout: 6000000 # 10分钟 （空闲时长多久后删除）
      maximum-pool-size: 100 # 连接池最大线程
      minimum-idle: 2 # 连接池最小线程
      keepaliveTime: 30000 # 每隔30秒检查空闲连接是否有效


  # redis配置
  redis:
    # Redis数据库索引（默认为0）
    database: 1
    # Redis服务器地址
    host: 123.207.11.78
#    host: 192.168.145.100
    # Redis服务器连接端口
    port: 30379
    # Redis服务器连接密码（默认为空）
    password: 980804
    # 连接超时时间(ms)
    timeout: 100000
    jedis:
#    lettuce:
      pool:
        # 连接池最大连接数
        max-active: 200
        # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1
        # 连接池中的最大空闲连接
        max-idle: 10
        # 连接池中的最小空闲连接
        min-idle: 1
  
  # Spring Session Redis 配置
  session:
    store-type: redis
    timeout: 7200 # Session 过期时间（秒），2小时
    redis:
      flush-mode: on_save
      namespace: blbb:session

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 只在控制台打印，上线后也不用关
  global-config:
    db-config:
      id-type: ASSIGN_ID # AUTO 自增 INPUT 用户输入 ASSIGN_ID 雪花算法
    banner: false # 关闭控制台的Banner打印
  type-aliases-package: com.smalldragon.yml.system.dal  # 实体类包路径
  mapper-locations: classpath*:mapper/*.xml # 匹配 mapper 目录下的所有 XML 文件

knife4j:
  enable: true
  openapi:
    title: SmallDragon
    description: "smalldragon框架"
    # aaa"
    email: 48758364@qq.com
    concat: 叶旻龙
    url: https://docs.xiaominfo.com
    version: v1.0.0
    license: Apache 2.0
    license-url: https://stackoverflow.com/
    terms-of-service-url: https://stackoverflow.com/
    group:
      test1:
        group-name: 系统管理
        api-rule: package
        api-rule-resources:
          - com.smalldragon.yml.system
      test2:
        group-name: 功能实践
        api-rule: package
        api-rule-resources:
          - com.smalldragon.yml.function
# 不同模块创建不同的包就可以了,后面新增了模块,直接在yml文件夹上添加该模块独有的包就可以了

# 自定义线程池
safe:
  pool:
    core-size: 5                 # 核心线程数
    max-size: 200                 # 最大线程数
    keep-alive-time: 60           # 线程空闲时间(秒)
    queue-capacity: 1000          # 队列容量(必须设置上限)
    thread-name-prefix: "safe-pool" # 线程名前缀
